[submodule "Thirdparty/ceres-solver"]
	path = Thirdparty/ceres-solver
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "Thirdparty/Sophus"]
	path = Thirdparty/Sophus
	url = https://github.com/strasdat/Sophus.git
[submodule "Thirdparty/g2o"]
	path = Thirdparty/g2o
	url = https://github.com/RainerKuemmerle/g2o.git
[submodule "Thirdparty/Pangolin"]
	path = Thirdparty/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
